.Homeimg{
position: relative;
}

.Homepic{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.Text{
  position: absolute;
  color: white;
  font-size: 40px;
  bottom: 50px;
  left: 50px;
  bottom: 100px;
  width: 500px;
}

.Playicon{
  position: absolute;
  height: 20px;
  bottom: 54px;
  right: 50px;
  background-color: gray;
  border-radius: 50px;
}

.Booknow{
  position:absolute;
  background-color: rgb(120, 250, 174)  ;
  border: none;
  height: 50px;
  width: 120px;
  border-radius: 50px;
  font-weight: bold;
  bottom: 30px;
  left: 50px;
}

.slidecollection{
position: absolute;
display: flex;
flex-direction: row;
bottom: 60px;
right: 100px;
}

.slides{
  margin-right: 8px;
  display: flex;
  background-color: gray;
 height: 5px;
 width: 55px;
 border-radius: 5px;
}

.Secondsection{
  display: flex;
  flex-direction: column;
  height: 450px;
  margin-top: 100px;
  align-items: center;
}

.Heading{
  display: flex;
  justify-content:center;
  font-size: 40px;
  margin-bottom: 30px;
  font-weight: bolder;
}

.Category{
  display: flex;
  justify-content:center;
  font-size: 15px;
  margin-bottom: 40px;
  border: solid;
  border-width: 1px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

.segment{
  margin-right: 30px;
  font-weight: bolder;
}

.segment1{
  font-weight: bolder;
}

.Allsegment{
  margin-right: 30px;
  font-weight: bolder;
  border: solid;
  border-color: rgb(65, 148, 104);
  border-width: 5px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  padding-bottom: 5px;
}

.Models{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.carimage{
  position: relative;
  display: flex;
  height: 68px;
  margin-right: 60px;
  justify-content: center;
  margin-bottom: 80px;
}

.name{
  position: absolute;
  bottom: -25px;
  font-weight: bolder;
}

.VariantK{
position: absolute;
bottom: 0;
bottom: -60px;
font-size: 13px;
background-color: rgb(214, 214, 214);
padding: 5px;
padding-left: 9px;
padding-right: 9px;
border-radius: 2px;
}

.VariantS{
position: absolute;
color: gray;
font-size: 12px;
top: 0;
left: 0;
}

.Allcars{
  display:flex;
  border: solid;
  border-width: 2px;
  height: 45px;
  width: 100px;
 justify-content: center;
 align-items: center;
 border-radius: 50px;
 padding-left: 15px;
 padding-right: 15px;
 font-weight: bolder;
}



.thirdsection{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
  column-gap: 30px;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: space-between;
}

.left{
  display: grid;
  row-gap: 20px;
}

.center{
  display: grid;
  row-gap: 20px;
}

.right{
  display: grid;
  row-gap: 20px;
}

.Thirdsectionimages{
  height: 100%;
  object-fit: cover;
  width: 100%;

}

.left1, .left2, .center1, .center2, .center3 , .right1 ,.right2{
  position: relative;
}

.Thirdtext{
position: absolute;
color: white;
font-weight: bolder;
width: 250px;
font-size: 30px;
left: 30px;
bottom: 50px;
right: 0;
}


.fourthsection{
  display: flex;
  flex-direction: column;
  background-color: rgb(234, 234, 234);
  height: 700px;
  width: 100%;
  padding-top: 50px;
}

.Awardheading{
 display: flex;
 flex-direction: row;
 height: 100px;
 justify-content: center;
 align-items: center;
}

.HeadText{
 font-size: 40px;
 display: flex;
 font-family: Arial, Helvetica, sans-serif;
 font-weight: bolder;
}

.Awardview{
  display: flex;
  flex-direction: row; 
  justify-content: space-evenly;
  background-color: rgb(234, 234, 234);
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
}

.Award1{
  width: 450px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color:white;
}

.Award2{
  width: 450px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color:white;
}

.Award3{
  width: 450px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color:white;
}

.Awardname{
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-left: 25px;
  padding-bottom: 25px;
  width: 270px;
}

.Readmore{
  font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
}

.Awardsimage{
 width: 100%;
}

.Allawards{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Allawardtext{
  display:flex;
  border: solid;
  border-width: 2px;
  height: 45px;
  width: 100px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bolder;
  }

  .Fifthsection{
    background-color:  rgb(234, 234, 234);
    font-family: Arial, Helvetica, sans-serif;
  }

  .News{
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 60px;
    padding: 40px;
  }

  .Newsview, .Newsviewlast{
    height: 200px;
    border: solid;
    border-width: 0.5px;
    border-left: 0;
    border-right: 0;
  }
  
  .Newsviewlast{
    border: solid;
    border-width: 0.5px;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
  }


  .Kylaqview{
    display: flex;
    flex-direction: row ;
    height: 200px;
    width: 100%;
  }

  .Kylaqimage{
   height:144.05px; 
  }

  .Kylaqnews{
    height: 200px;
    width: 600px;
    padding-left: 30px;
  }

  .Allawards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .Allawardstext{
    display: flex;
    border: solid;
    border-width: 2px;
    height: 45px;
    width: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .Sixthsection{
    display: flex;
    flex-direction: column;
    height: 800px;
    margin: 35px;
    margin-bottom: 50px;
  }

  .Sixth1{
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

  .Sixth2 {
    display: flex;
    flex-direction: row;
    height: 350px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .Sixth2A{
    display: flex;
    width: 60%;
    margin-right: 10px;
    position: relative;
  }

  .Sixth2B{
    display: flex;
    margin-left: 10px;
    width: 40%;
    position: relative;
  }

  
  .Sixthimg1{
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  .Sixthimg2{
    height: 100%;
    object-fit: cover;
    width: 100%;
  }



  .Sixth3{
    display: flex;
    flex-direction: row;
    height: 350px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
  }


  .Sixth3A{
    display: flex;
    width: 30%;
    margin-right: 10px;
    position: relative;
  }

  .Sixth3B{
    display: flex;
    margin-left: 10px;
    width: 70%;
    position: relative;
  }

  
  .Sixthimg3{
    height: 100%;
    object-fit: cover;
    object-position: 70%;
    width: 100%;
  }

  .Sixthimg4{
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
  
  .Sixth4{
    display: flex;
  }

  .Mediatext{
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 30px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    color: white;
  }

  .Foot{
    background-color: rgb(14, 58, 47);
  }

  .lastsection{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding: 40px;
  }

  .last1{
    position: relative;
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    background-color: rgb(14, 58, 47);

  }

  .last2{
    background-color: lightgreen;
    height: 50px;
    color: white;
    background-color: rgb(14, 58, 47);
    border: solid;
    border-left: 0px;
    border-right: 0px;
    border-width: 0.2px;
    margin-top: 10px;
    border-color: white;
    align-items: center;
  }

  .last3{
    padding-top: 20px;
    color: white;
    background-color: rgb(14, 58, 47);
    display: flex;
    flex-direction: row;
    height: 250px;
    justify-content: space-between;
  }

  .last3A{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 300px;
  }

  .last3B{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 300px;
  }

  .last3C{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 300px;
  }

  .last3D{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 300px;
  }

  .last3E{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 300px;
  }

  .last3F{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 300px;
  }

  .last4{
    background-color: lightblue;
    height: 30px;
  }

  .footertext, .footertextbold{
    display: inline-block;
    width: 100%;
    margin: 5px;
  }

  .footertextbold{
    font-weight: bold;
  }

  .SocialMedia{
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .Helpline{
   background-color:rgb(14, 58, 47) ;
  }

  .Disclamer{
    background-color:  rgb(0, 39, 29);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px;

  }